<h2>BookList</h2>
<table border="1">
  <tr>
    <th>Book ID</th>
    <th>Book Title</th>
    <th>Book Author</th>
    <th>Book Year Of Publish</th>
  </tr>
  <tr>
    <td>
      <input type="number" name="bookId" placeholder="Id" [(ngModel)]="searchById">
    </td>
    <td><input type="text" name="bookTitle" placeholder="Title" [(ngModel)]="searchByTitle"></td>
    <td><input type="text" name="bookAuthor" placeholder="Author" [(ngModel)]="searchByAuthor"></td>
    <td><input type="number" name="bookYearofPublish" placeholder="Year" [(ngModel)]="searchByYear"></td>
  </tr>
  <tr *ngFor="let book of books | bookSearch:searchById:searchByTitle:searchByAuthor:searchByYear">
    <td>{{book.Book_Id}}</td>
    <td>{{book.Book_Title}}</td>
    <td>{{book.Book_Author}}</td>
    <td>{{book.Book_Year_Of_Publish}}</td>
  </tr>

</table>