<div class="text-right">
    <button type="button" class="btn btn-primary" style="margin-top: 10px; border-radius: 20px" (click)="displayItems()">Go To Cart</button>
</div>
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let item of this.cartService.items; index as i">
        <div class="card text-center">
            <div class="card-body" style="background-color: darkorange">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <img [src]="item.imagePath" alt="No image" height="100" width="100">
                </p>
                <p class="text-muted" style="color: darkred; font-style: italic">{{item.price | currency:"₹"}}</p>
            </div>
            <div class="card-footer text-muted">
                <input class="btn btn-primary" [disabled]="item.isDisabled" type="button" value="-" (click)="decrementItem(this.item,i)"> {{item.counter}}
                <input class="btn btn-primary" type="button" value="+" (click)="incrementItem(this.item,i)">
            </div>
        </div>
    </div>
</div>